* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(36, 36, 36);
    color: aliceblue;
    padding: 24px;
}


.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: repeat(3, 100px) /*  100px 100px  */;
    grid-template-areas: 
        "header header header"
        "main   main   sidebar"
        "footer footer footer";

    background-color: cornflowerblue;
    width: 500px;
    height: 500px;
    margin: 0 auto; /* Centra elementos con un ancho fijo en el contenedor */
}

.header{
    grid-area: header;
    background-color: crimson;
}

.main{
    grid-area: main;
    background-color: deeppink;
}

.sidebar{
    grid-area: sidebar;
    background-color: palevioletred;
}

.footer{
    grid-area: footer;
    background-color: orange;
}