* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(36, 36, 36);
    color: aliceblue;
    padding: 24px;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-auto-flow: row; /* Este es el valor por default */
    /* grid-auto-flow: column; */
    direction: rtl ; /* Esta propiedad permite cambiar la dirección del flujo de Grid. Esta propiedad no peretenece a CSS-Grid  */

    gap: 24px;

    background-color: cornflowerblue;
    width: 500px;
    height: 500px;
    margin: 0 auto; /* Centra elementos con un ancho fijo en el contenedor */
    padding: 24px;
}

/* Colocar 5 Items con un color de fondo diferente */

.item1{
    background-color: crimson;
}

.item2{
    background-color: darkorange;
}

.item3{
    background-color: lightsalmon;
}

.item4{
    background-color: lightseagreen;
}

.item5{
    background-color: greenyellow;
    color: black;
}

.texto{
    text-align: center;
    font-size: 52px;
    align-content: center;
}

/* Deben de hacer que los números esten centrado en la vertical y la horizonal de los items. Crecer el tamaño del texto para que se note más */

